<!DOCTYPE html>
<html lang="en">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<link rel="stylesheet" type="text/css" href="../../static/schedule2/dataTables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../static/schedule2/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../static/schedule2/index.css">

<script type="text/javascript" language="javascript" src="../../static/schedule2/jquery.js"></script>
<script type="text/javascript" language="javascript" src="../../static/schedule2/dataTables.bootstrap.js"></script>
<script type="text/javascript" language="javascript" src="../../static/schedule2/bootstrap.js"></script>
<script type="text/javascript" language="javascript" src="../../static/schedule2/jquery.dataTables.js"></script>

<script type="text/javascript" class="init" src="../../static/schedule2/index.js"></script>

</head>
    <!-- navigation bar, fixed to top --!>
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Title of navbar -->
          <a class="navbar-brand" href="#">Scheduling</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">New</a></li>
            <li><a href="#">Overview</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- input form for name, and area --!>
    <div class="container">
        <form role="form" class="form-inline">
            <div class="form-group pull-left">
                <label for="nameInput">Name:</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Enter name">
            </div>

            <!-- multi-select dropdown -->
            <div class="form-group col-xs-1">
                <div class="dropdown">
                    <a class="dropdown-toggle btn btn-default" data-toggle="dropdown" href="#">
                        Area
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-form" role="menu">
                        {% for area in area_list %}
                        <li>
                            <label class="checkbox">
                                <input type="checkbox">
                                {{ area }}
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- multiselect dropdown -->
            <div class="form-group col-xs-3">
                <div class="dropdown">
                    <a class="dropdown-toggle btn btn-default" data-toggle="dropdown" href="#">
                        Sub-Area
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-form" role="menu">
                        {% for subarea in subarea_list %}
                        <li>
                            <label class="checkbox">
                                <input type="checkbox">
                                {{ subarea }}
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="pull-right">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>

        </form>
    </div>

{% if day_list %}
    <!-- spreadsheet-like table, with coloring for availability of employees -->
    <div class="table-responsive">
        <table id="schedule" class="table table-bordered table-condensed" cellspacing="0" width="100%">
            <thead>
                <td class="select-all"></td>
                {% for day in day_list%}
                    <td style="text-align:center">{{ day }}</td>
                {% endfor %}
            </thead>
            <tbody>
                {% for time in time_list %}
                    <tr>
                        <td class="time">{{ time }}</td>
                        {% for day in day_list %}
                            <td></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>No days are in the database.</p>
{% endif %}

</html>
